:root{
    --baskin-pink: #DE5B9E;
    --baskin-blue: rgba(0, 95, 168, 1)
}

body{
    background-color: rgb(247, 247, 142);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: gold; */
    position: fixed;
    top: 30px; 
    left: 30px;
    width: 95%;
}

header img{
    float: left;
    height: 100px; 
}

#nav-bar {  
    text-align: center;    
    padding: 20px 0;
    float: right;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    margin: 20px 30px;
}

#home {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#splash-img{
    height: 20vh;
    margin: 230px auto;
    display: block;
}

#slogan{
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: -150px;
}

#ice-cream-arrow{
    height: 200px;
    position: absolute;
    left: 50vw;
    display: block;    
    bottom: 0;
    margin: 0;
    animation: spin 3s infinite;
    /* transform: rotate(20deg); */
    animation-direction: normal;
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

#about{
    background-color: var(--baskin-pink);
    width: 100vw;
    height: 100vh;
}

#video{
    margin: 80px auto;  
    display: block;
}

footer{
    height: 200px;
}

#sign-up{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#form{
    text-align: center;
}