:root{
    --baskin-pink: #DE5B9E;
    --baskin-blue: rgba(0, 95, 168, 1)
}

body{
    background-color: rgb(247, 247, 142);
}

header {
    /* background-color: gold; */
    position: fixed;
    top: 30px; 
    left: 30px;
    width: 95%;
}

header img{
    float: left;
    height: 100px; 
}

#nav-bar {  
    text-align: center;    
    padding: 20px 0;
    float: right;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    margin: 20px 30px;
}

#home {
    height: 100vh;
}

#splash-img{
    height: 250px;
    margin: 230px auto;
    display: block;
}

#video{
    margin: 80px auto;  
    display: block;
}

#form{
    text-align: center;
}