:root{
    --baskin-pink: #DE5B9E;
    --baskin-blue: rgba(0, 95, 168, 1)
}

body{
    background-color: var(--baskin-blue);
}

header {
    /* background-color: gold; */
    margin-top: 20px; 
}

header img{
    float: left;
    height: 100px; 
}

#nav-bar {  
    text-align: center;    
    padding: 20px 0;
}

.nav-link {
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-size: 1.4rem;
    margin: 20px 30px;
}

#video{
    margin: 80px auto;  
    display: block;
}

#form{
    text-align: center;
}